@import url('https://chinese-fonts-cdn.deno.dev/packages/jhlst/dist/%E4%BA%AC%E8%8F%AF%E8%80%81%E5%AE%8B%E4%BD%93v2_002/result.css');

/* Global Styles */
body {
  font-family: 'KingHwa_OldSong';
  line-height: 1.5;
  margin: 1rem;
  max-width: 100%;
  background: #fffdfa;
}

h1 {
  margin: 0.83em 0 0 0;
}

/* Footer Styles */
#footer {
  margin-bottom: 10px;
  text-align: center;
  font-size: 13px;
}

/* Footer List */
#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid;
  line-height: 14px;
}

#footer li:last-child {
  margin-right: 0;
  border-right: 0;
}

#footer .footer_copyright,
#footer .footer_menu {
  line-height: 34px;
}

/* Media Query for Footer */
@media (min-width: 39rem) {
  #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  #footer .footer_copyright {
    align-self: flex-start;
  }

  #footer .footer_menu {
    align-self: flex-end;
  }
}

/* Link Styles */
a {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 4px;
}

a:hover {
  text-decoration: underline;
}

/* Post Meta Styles */
.post_meta {
  text-align: left;
  font-size: 13px;
  line-height: 0.2;
}

/* Horizontal Rule (hr) Styles */
hr {
  --slash-content: '/////'; /* Define slash style */
  text-align: center;
  border: 1px;
  margin: 1rem 0;
  color: gray;
}

hr:before {
  content: var(--slash-content);
}

hr:after {
  content: var(--slash-content);
}

/* Container Styles */
.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 4rem 2rem;
}